<ul class="list">
  <li
    class="entry"
    *ngFor="let event of events">
    <div class="left">
      <app-editable-label
        class="name"
        [value]="event.name"
        (finishedEditing)="event.name = $event; update(event)"></app-editable-label>
      <span class="next-firing">
        <span *ngIf="event.nextScheduledExecution ; else nextOccurrenceUnknown">{{'will fire in {duration}' | translate:{duration:buildNextOccurenceExpression(event)} }}</span>
        <ng-template #nextOccurrenceUnknown> <span>{{'time of next occurrence is unknown' | translate}}</span> </ng-template>
      </span>
    </div>
    <div class="right">
      <span
        class="fire-button"
        (click)="fire(event)">
        <span>&gt;</span>
      </span>
    </div>
  </li>
</ul>