<ng-template [ngIf]="device">
    <div (keyup.control.enter)="save(device)" (keyup.esc)="close()" fxLayout="column" id="root">
        <mat-form-field fxFill>
            <input [(ngModel)]="device.name" id="name-field" matInput placeholder="Name">
        </mat-form-field>
        <div fxFlexAlign="end" fxLayout="row" fxLayoutGap="3px">
            <button (click)="close()" id="cancel-button" mat-raised-button>
                {{'Cancel'|translate}}
            </button>
            <button (click)="save(device)" color="primary" id="save-button" mat-raised-button>
                {{'Save' | translate }}
            </button>
        </div>
    </div>
</ng-template>
