<div fxLayout="column">
    <div *ngFor="let scenario of scenarios" class="entry" fxLayout="row">
        <mat-slide-toggle
                (toggleChange)="toggleEnabling(scenario)"
                [checked]="scenario.enabled"
                fxFlex="0 0 50px"
                fxFlexAlign="center">
        </mat-slide-toggle>
        <app-editable-label
                (finishedEditing)="scenario.name = $event; save(scenario)"
                [value]="scenario.name"
                fxFlex="1 1 100%"
                fxFlexAlign="center">
        </app-editable-label>
        <div [matMenuTriggerFor]="menu"
             class="menu-button"
             fxFlex="0 0 20px"
             fxFlexAlign="center"
             fxLayoutAlign="center">
            <svg
                    height="24"
                    version="1.1"
                    viewBox="0 0 2.6458332 6.3500002"
                    width="10"
                    xmlns="http://www.w3.org/2000/svg">
                <rect
                        height="0.56696427"
                        style="opacity:1;fill:#c0c0c0;fill-opacity:1;stroke:none;"
                        width="0.56696427"
                        x="1.0394346"
                        y="0.84660274"></rect>
                <rect
                        height="0.56696427"
                        style="opacity:1;fill:#c0c0c0;fill-opacity:1;stroke:none;"
                        width="0.56696427"
                        x="1.0394346"
                        y="2.8915179"></rect>
                <rect
                        height="0.56696427"
                        style="opacity:1;fill:#c0c0c0;fill-opacity:1;stroke:none;"
                        width="0.56696427"
                        x="1.0394346"
                        y="4.9364328"></rect>
            </svg>
            <mat-menu #menu="matMenu" xPosition="before">
                <button (click)="edit(scenario)" mat-menu-item>{{'Edit' | translate }}</button>
            </mat-menu>
        </div>
    </div>
</div>