.list {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.entry {
    background-color: #eeeeee;
    margin: .3em;
    padding: .3em;
    min-height: 2em;
    border-radius: 4px;
}

.menu-button {
    cursor: pointer;
}